{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
{% endblock %}


{% block container %}
    <div class="flex-center position-ref full-height">
        <div class="top-right links">
            {% if(session.get('username')) %}
                <a href="/home">home</a>
            {% else %}
                <a href="/signin">Signin</a>
            {% endif %}
        </div>
        

        <div class="content">
            <div class="title m-b-md">
                Welcome to Flask!
            </div>

            <div class="links">                    
                <a href="https://magiclyde.me" target="_blank">@magiclyde</a>
            </div>
        </div>
    </div>
{% endblock %}