<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% block title %}{% endblock %}</title>

	{% block head %}{% endblock %}
	
</head>
<body id="app-layout">

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class='flashes'>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	<nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">

                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Branding Image -->
                <a class="navbar-brand" href="/">
                    Flask
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    
                </ul>

                <div class="col-sm-3 col-md-3">
			        <form class="navbar-form" role="search" method="get" action="/search">
				        <div class="input-group">
				            <input type="text" class="form-control" placeholder="Search" name="q" value="{{ searchword }}">
				            <div class="input-group-btn">
				                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				            </div>
				        </div>
			        </form>
			    </div>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">

                    <!-- Authentication Links -->
                    {% if session.get('username') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{ session.get('username') }} <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/user/{{ session.get('username') }}" ><i class="fa fa-gear" ></i> Setting</a></li>
                                <li><a href="javascript:;" onclick="document.getElementById('logout_from').submit();"><i class="fa fa-btn fa-sign-out"></i> Logout</a></li>
                            </ul>
                            <form method="POST" action="/logout" id="logout_from">
                                <!-- csrf token -->
                                <input type="hidden" name="csrf_token" value="{{ session.get('csrf_token') }}">
                            </form>
                        </li>
                    {% else %}
                    	<li><a href="/signin">Signin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

	{% block container %}{% endblock %}

	{% block footer %}{% endblock %}

</body>
</html>