<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% block title %}{% endblock %}</title>

	{% block head %}{% endblock %}
	
</head>
<body id="app-layout">

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<div class="alert  alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close"><font color="red"><strong>&times;</strong></font></a>
				<ul class="list-group">
					{% for category, message in messages %}
						<li class="list-group-item list-group-item-{{ category }}">{{ message }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endwith %}

    {% block nav %}{% endblock %}

	{% block container %}{% endblock %}

	{% block footer %}{% endblock %}

</body>
</html>